# python
__pycache__/
*.pyc
.venv/
.conda/
.env
reports/
# notebooks
.ipynb_checkpoints/
# data
data/
!src/data/
# OS/editor
.DS_Store
.vscode/
models/
!src/models/
logs/
#Claude
trade_bot.log
.claude/
archive/
